
.hero {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    margin-top: 1em;
}

.hero h1 {
    margin-top: 0;
    margin-bottom: 0.3em;
    text-align: center;
}

.chart-container {
	max-width: 800px;
	margin: 0 auto;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: #333;
}

.nav-link {
    color: #333;
}

.nav-link:hover {
    color: #007bff;
}

footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 20px;
}

.loader-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  position: relative;
  width: 100%;
  height: 100%;
}

.loader svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.loader-circle-bg {
  fill: none;
  stroke: #ddd;
  stroke-width: 8;
}

.loader-circle {
  fill: none;
  stroke-width: 8;
  stroke-dasharray: 219.9; /* Update this to match the circle's actual circumference */
  stroke-dashoffset: 219.9; /* Initially offset to show no fill */
  transition: stroke-dashoffset 0.3s;
}


.loader-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #333;
  z-index: 1001;
}

.loader-text {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 5px;
}

.center-image {
    text-align: center;
    margin: auto;
}

.center-image figcaption {
    margin-top: 10px;
    font-style: italic;
}

