{% include "header.html" %}


{% block content %}
  <body>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/app.js') }}"></script>

    <div class="container">
      <div class="hero">
        <h1>Per-Batch Drift Detection</h1>
        <div class="chart-container">
          <canvas id="myChart" width="1000" height="400"></canvas>
        </div>
        <h1>Per-Label Drift Detection</h1>
        <div id="num_labels" data-num-labels="{{ num_labels }}"></div>
        <div id="label_names" data-label-names="{{ label_names }}"></div>
        <div class="chart-container">
          <canvas id="myChart_per_label" width="1000" height="400"></canvas>
        </div>
      </div>
    </div>
  </body>
{% endblock %}

{% include "footer.html" %}
