<br>
<br>
<br>
<br>

</div> <!-- End of container div -->

<!-- Bootstrap JavaScript and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<!-- from static_folder / js / js-loading-overlay-min.js  use url_for -->
<script src="/static/js/js-loading-overlay-min.js"></script>




<!-- Footer content goes here stick to the bottom of the page, scroll down if needed -->
<p style="text-align: center; font-size: 14px; position: fixed; bottom: 0; width: 100%; border-top: 1px solid #e5e5e5; background-color: #f5f5f5; padding-top: 20px; margin-bottom: 0px; padding-bottom: 20px;">
    <b>DriftLens: </b> Salvatore Greco, Bartolomeo Vacchetti, Daniele Apiletti, Tania Cerquitelli
</p>
</body>
</html>