{% include "header.html" %}


{% block content %}
    <img src="static/images/Drift_Lens_Logo.png" alt="logo" width="300" class="d-inline-block align-text-top">
    <p>
        DriftLens is an unsupervised drift detection techniques for deep learning classifiers on unstructured data. <br>
        The overall architecture is shown in Figure 1.
        It computes distribution distances on the embedding representations of a deep learning classifier, extracted from historical dataset called baseline and a new data stream divided into fixed-size windows.
        Specifically, each batch of data (i.e., the baseline or the new data windows) are modeled as a multivariate normal distribution by computing the mean and the covariance matrix of the embedding vectors.
        Then, the Fréchet Inception Distance (FID) score is computed to measure the distribution distance between the multivariate normal distributions of the baseline with respect to the ones of the new data windows.
        The greater is the distance, the larger the drift.

    </p>
    <figure class="center-image">
        <img src="static/images/driftlens-demo-architecture.png" width="800" class="d-inline-block align-text-top" alt="Descriptive Alt Text">
        <figcaption>Your Caption Here</figcaption>
    </figure>


    <p>
        <ul>
            <li><b>Drift Detection with a pre-uploaded use case:</b> The DriftLens tool provides four pre-uploaded use cases in the NLP and computer vision domain. </li>
            <li><b>Upload your use case:</b> </li>
        </ul>
    </p>


{% endblock %}

{% include "footer.html" %}