{% include "header.html" %}


{% block content %}
    <img src="static/images/Drift_Lens_Logo.png" alt="logo" width="300" class="d-inline-block align-text-top">
    <p>
        DriftLens is an unsupervised drift detection techniques for deep learning classifiers on unstructured data.
    </p>

    <p>
        <ul>
            <li><b>Drift Detection with a pre-uploaded use case:</b>.</li>
            <li><b>Upload your use case:</b> </li>
        </ul>
    </p>


{% endblock %}

{% include "footer.html" %}