{% include "header.html" %}


{% block content %}
    <img src="static/images/Drift_Lens_Logo.png" alt="logo" width="300" class="d-inline-block align-text-top">
    <p>
        DriftLens is an unsupervised drift detection techniques for deep learning classifiers on unstructured data.
        It computes distribution distances between a historical dataset called baseline and a new data stream divided into fixed-size windows.

    </p>

    <p>
        <ul>
            <li><b>Drift Detection with a pre-uploaded use case:</b> The DriftLens tool provides four pre-uploaded use cases in the NLP and computer vision domain. </li>
            <li><b>Upload your use case:</b> </li>
        </ul>
    </p>


{% endblock %}

{% include "footer.html" %}